{% extends 'base.html' %}
{% block title %}｜目標設定{% endblock %}
{% block content %}

<div class="header-bar">
  <a href="{% url 'today_foods' %}">&#8592; Back</a>
</div>

<div class="body-container">
  <div class="body-header">
    <h2>目標設定</h2>
  </div>

  <div class="notion">
    <p>※数字は半角、全て小数点不可</p>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <label for="kcal">カロリー:</label>
    <input type="number" name="kcal" id="kcal" value="{{ target.kcal }}">

    <label for="protein">タンパク質:</label>
    <input type="number" name="protein" id="protein" value="{{ target.protein }}">

    <label for="fat">脂質:</label>
    <input type="number" name="fat" id="fat" value="{{ target.fat }}">

    <label for="carb">炭水化物:</label>
    <input type="number" name="carb" id="carb" value="{{ target.carb }}">
    <button class="button" type="submit">完了</button>
  </form>
</div>


{% endblock %}